# Ignored whole directories
build
dist
install

# Ignored file extensions
## Preprocessed files
**.i

## Executable Object Files
**.[ao]
**.bin
**.dll
**.exe
**.lib
**.so
**.dylib

## Python
**.pyc
**.pyo
**.egg-info
**.egg
**.whl
**/__pycache__/

## Binary Data Files
**.hdf5
**.h5
**.npz
**.pkl

## Archive Files
**.bz2
**.gz
**.lzma
**.tar
**.xz

## Multimedia
**.jpg
**.jpeg
**.JPG
**.JPEG
**.png
**.gif
**.bmp

## Documents
**.doc
**.docx
**.log
**.od*
**.pdf
**.txt

## TeX
**.aux
**.blg
**.synctex.gz

## Backup File
**.bak
**.swp
**~
**.autosave

## TensorBoard
*tfevents*
!zvit/tfevents.py


# Must not ignore Meson build files.
!**/meson.build


# Project-specific ignores
src/benzina/version.py
src/benzina/lib
src/benzina/include


# Wraps
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles
