# Include README.md, LICENSE.md, setup.py, setup.cfg and other critical
# top-level files:
include setup.* *.md

# Grab all of the source code and build scripts:
graft include
graft src
graft scripts
global-include meson.build meson_options.txt

# But exclude binaries, installed headers and other junk:
prune src/benzina/include
prune src/benzina/libs
global-exclude __pycache__ *.py[cod] *.so *.exe .DS_Store
