# Include README.rst, LICENSE.md, setup.py, setup.cfg and other critical
# top-level files:
include README.rst setup.py setup.cfg *.md

# Grab all of the source code and build scripts:
graft doc
graft include
graft src
graft scripts
graft subprojects/packagefiles
include subprojects/*.wrap
graft tests
graft thirdparty
include meson.build meson_options.txt

# But exclude binaries, installed headers and other junk:
exclude src/benzina/version.py
prune src/benzina/include
prune src/benzina/lib
exclude src/benzina.egg-info/SOURCES.txt
prune src/benzina.egg-info
global-exclude __pycache__ *.py[cod] *.exe *.so *.o .DS_Store
