# Include README.rst, LICENSE.md, setup.py, setup.cfg and other critical
# top-level files:
include README.rst setup.* *.md

# Grab all of the source code and build scripts:
graft doc
graft include
graft src
graft scripts
graft thirdparty
global-include meson.build meson_options.txt

# But exclude binaries, installed headers and other junk:
exclude src/benzina/version.py
prune src/benzina/include
prune src/benzina/lib
global-exclude __pycache__ *.py[cod] *.exe .DS_Store
